/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
/* import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* import Orbitron foto */

.glow-text {
    text-shadow:
     0 0 10px #fff,
     /* 0 0 20px #fff,  */
     0 0 30px var(--text-color),
     0 0 40px var(--text-color), 
     0 0 50px var(--text-color),
     0 0 60px var(--text-color), 
     0 0 70px var(--text-color);
    color: #fff;
}

.glow {
    /* text-shadow: */
    border-color: #fff;
    box-shadow:
     0 0 10px #fff,
     /* 0 0 20px #fff,  */
     0 0 30px var(--text-color),
     0 0 40px var(--text-color), 
     0 0 50px var(--text-color),
     0 0 60px var(--text-color), 
     0 0 70px var(--text-color);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#map-container {
    width: 70%;
}

#map {
    /* width: 70%; */
    height: 100%;
    border-image: url("window-border-inverse.png") 10;
    border-style: solid;
    /* border-width: 0px 16px 0px 0px; */
    border-width: 16px;
    border-radius: 18px;

    box-sizing: border-box;
    position: relative;

    /* filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3); */
}

#control-panel {
    font-size: 1.5rem;

    width: 30%;

    padding: 1em;
    padding-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    background-color: var(--container-bg-color);

    border-image: url("window-border-inverse.png") 10;
    border-style: solid;
    border-width: 16px;
    border-radius: 18px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.crt-screen {
    width: 100%;

    position: relative;
    /* overflow: hidden; */
}

/* crt effect */
.crt-screen::after {
    content: "";
    background: linear-gradient(rgba(18, 16, 16, 0), rgba(0, 0, 0, 0.15) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    z-index: 1000;
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

hr {
    width: 100%;
    border-color: #fff;
    margin-top: 1em;
    margin-bottom: 2em;
}

.search-status-container {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 100%;
}

/* #status-label { */
    /* margin-bottom: 1em; */
/* } */

#search-status-led {
    height: 50%;
    margin-top: 1em;
    background-color: var(--container-bg-color);
    /* animation-name: search-status-blink; */
    /* animation-duration: 0.1s; */
}

.blinking {
    animation-name: search-status-blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes search-status-blink {
    0% {
        background-color: var(--container-bg-color);
    }

    50% {
        background-color: #fff;
        box-shadow:
            0 0 10px #fff,
            /* 0 0 20px #fff,  */
            0 0 30px var(--text-color),
            0 0 40px var(--text-color), 
            0 0 50px var(--text-color),
            0 0 60px var(--text-color), 
            0 0 70px var(--text-color);
    }

    100% {
        background-color: var(--container-bg-color);
        box-shadow: none;
    }
}

.control-slider-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.control-slider {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 1em;

    background-color: var(--container-bg-color);
    /* border-radius: 16px; */

    outline: none;
    cursor: pointer;
}

.control-slider::-moz-range-thumb, .control-slider::-webkit-slider-thumb {
    background-color: var(--text-color);
    border: 2px solid #fff;
}

.control-label {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.control-value {
    /* font-weight: lighter; */
    font-style: italic;

    display: flex;
    align-items: center;
    gap: 0.5em;
}

.control-value input[type="range"] {
    flex: 1;
    min-width: 0;
}

.control-value input[type="number"] {
    font-weight: bold;
    font-style: italic;
    font-size: 1em;

    /* color: var(--text-color); */
    color: #fff;

    /* background-color: var(--container-bg-color); */
    background-color: var(--text-color);

    border-style: solid;
    /* border-color: var(--text-color); */
    border-color: #fff;
}

.control-value input[type="number"]:focus {
    outline: none;
}

/* #searchButton { */
button {
    font-size: 1em;
    font-weight: 800;

    /* color: var(--text-color); */
    color: #fff;
    /* background-color: var(--container-bg-color); */
    background-color: var(--text-color);

    border-radius: 16px;
    border-style: solid;
    /* border-color: var(--text-color); */
    border-color: #fff;
    border-width: 3px;
}

@media (max-width: 600px) {
    html, body {
        height: auto;
    }

    .main-container {
        flex-direction: column;
        height: 100%;
    }

    #control-panel {
        width: auto;
    }

    #map {
        height: 90vh;
        width: 100vw;
    }
}