/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
/* import Roboto font */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* import Orbitron foto */

/* ===== EFFECTS ===== */

.glow-text {
    text-shadow:
     0 0 10px #fff,
     /* 0 0 20px #fff,  */
     0 0 30px var(--text-color),
     0 0 40px var(--text-color), 
     0 0 50px var(--text-color),
     0 0 60px var(--text-color), 
     0 0 70px var(--text-color);
    color: #fff;
}

.glow {
    border-color: #fff;
    box-shadow:
     0 0 10px #fff,
     /* 0 0 20px #fff,  */
     0 0 30px var(--text-color),
     0 0 40px var(--text-color), 
     0 0 50px var(--text-color),
     0 0 60px var(--text-color), 
     0 0 70px var(--text-color);
}

.crt-screen {
    position: relative;
}

.crt-screen::after {
    content: " ";
    display: block;
    background: linear-gradient(rgba(18, 16, 16, 0), rgba(0, 0, 0, 0.15) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    pointer-events: none;

    z-index: 1000;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

/* === MAP === */

#map-container {
    width: 70vw;
    height: 100vh;

    flex: 7;
}

#map {
    height: 100%;
    border-image: url("window-border-inverse.png") 10;
    border-style: solid;
    border-width: 16px;
    border-radius: 18px;

    box-sizing: border-box;
    position: relative;
}

/* === CONTROL PANEL === */

#control-content {
    font-size: 1.5rem;

    flex: 1;

    padding: 1em;
    padding-top: 2em;

    box-sizing: border-box;

    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    display: flex;
}

#control-panel {
    width: 30%;
    flex: 3;

    box-sizing: border-box;

    background-color: var(--container-bg-color);

    border-image: url("window-border-inverse.png") 10;
    border-style: solid;
    border-width: 16px;
    border-radius: 18px;

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

hr {
    width: 100%;
    border-color: #fff;
    margin-top: 1em;
    margin-bottom: 2em;
}

#status-leds {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    flex: 1;
}

.led-container {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

#search-status-led, #location-ping-led {
    opacity: 0%;
    height: 50%;
    margin-top: 1em;
    background-color: var(--container-bg-color);
}

.blinking {
    animation-play-state: paused;
    animation-name: background-blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes background-blink {
    0% {
        background-color: var(--container-bg-color);
        opacity: 0%;
    }

    50% {
        opacity: 100%;
        background-color: #fff;
        box-shadow:
            0 0 10px #fff,
            /* 0 0 20px #fff,  */
            0 0 30px var(--text-color),
            0 0 40px var(--text-color), 
            0 0 50px var(--text-color),
            0 0 60px var(--text-color), 
            0 0 70px var(--text-color);
    }

    100% {
        opacity: 0%;
        background-color: var(--container-bg-color);
        box-shadow: none;
    }
}

.control-slider-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

/* === SLIDER === */

.control-slider {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 1em;

    background-color: var(--container-bg-color);

    outline: none;
    cursor: pointer;
}

.control-slider::-moz-range-thumb, .control-slider::-webkit-slider-thumb {
    background-color: var(--text-color);
    border: 2px solid #fff;
}

.control-label {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

/* === VALUE === */

.control-value {
    font-style: italic;

    display: flex;
    align-items: center;
    gap: 0.5em;
}

.control-value input[type="range"] {
    flex: 1;
    min-width: 0;
}

.control-value input[type="number"] {
    font-weight: bold;
    font-style: italic;
    font-size: 1em;

    color: #fff;

    background-color: var(--text-color);

    border-style: solid;
    border-color: #fff;
}

.control-value input[type="number"]:focus {
    outline: none;
}

button {
    font-size: 1em;
    font-weight: 800;

    color: #fff;
    background-color: var(--text-color);

    border-radius: 16px;
    border-style: solid;
    border-color: #fff;
    border-width: 3px;
}

@media (max-width: 600px) {
    html, body {
        height: auto;
    }

    .main-container {
        flex-direction: column;
        height: 100%;
    }

    #control-panel {
        width: auto;
    }

    #map {
        height: 90vh;
        width: 100vw;
    }
}

/* === CUSTOM LEAFLET === */

.popup-custom .leaflet-popup-tip,
.popup-custom .leaflet-popup-content-wrapper {
    background: var(--container-bg-color);
    color: #fff;
}

.popup-custom .leaflet-popup-tip a,
.popup-custom .leaflet-popup-content-wrapper a {
    color: #fff;
    text-decoration: none;
}